@font-size-base: 10px;
@font-size-h1: 2 * @font-size-base;
@font-size-h2: 1.5 * @font-size-base;
@font-size-h3: 1.25 * @font-size-base;
@font-size-h4: 1.15 * @font-size-base;
@margin-bottom-base: 0px;
@margin-top-base: 0px;
@margin-space: 10px;
@margin-small-space: 0.5 * @margin-space;
@table-space: 20px;
@indent: 20px;

article {
  font-size: @font-size-base;
  margin-top: @margin-top-base;
  margin-bottom: @margin-bottom-base;
}

body {
  font-size: @font-size-base;
  margin-top: @margin-top-base;
  margin-bottom: @margin-bottom-base;
}

h1 {
  font-size: @font-size-h1;
  align-content: center;
  alignment: center;
  margin-top: @margin-space;
  margin-bottom: @margin-bottom-base;
  margin-left: inherit;
  margin-right: inherit;
}

h2 {
  font-size: @font-size-h2;
  margin-top: @margin-space;
  margin-bottom: @margin-bottom-base;
  margin-left: @indent;
  margin-right: inherit;
}

h3 {
  font-size: @font-size-h3;
  margin-top: @margin-space;
  margin-bottom: @margin-bottom-base;
  margin-left: 2 * @indent;
  margin-right: inherit;
}

h4 {
  font-size: @font-size-h4;
  margin-top: @margin-small-space;
  margin-bottom: @margin-bottom-base;
  margin-left: 2 * @indent;
  margin-right: inherit;
}

p {
  margin-top: inherit;
  margin-bottom: inherit;
  margin-right: inherit;
  margin-left: 3 * @indent;
}

ul {
  margin-left: 4 * @indent;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

table {
  border-style: none;
  margin-top: -2px;
  margin-bottom: 0;
  margin-left: 3 * @indent - 2px; 
  line-height: @font-size-base;
}

td {
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 0;
  padding-right: @table-space;
  line-height: @font-size-base;
}

th {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: @table-space;
  line-height: @font-size-base;
}

hr {
  color: transparent;
  border-style: hidden;
  page-break-after: always;
}