{{#basics}}
# {{{name}}} - {{{label}}}

### Info
|{{#email}} Email |{{/email}}{{#phone}} Phone |{{/phone}}{{#url}} Website |{{/url}}{{#location}} Location |{{/location}}
|{{#email}} :-: |{{/email}}{{#phone}} :-: |{{/phone}}{{#url}} :-: |{{/url}}{{#location}} :-: |{{/location}}
|{{#email}} {{{.}}} |{{/email}}{{#phone}} {{{.}}} |{{/phone}}{{#url}} {{{.}}} |{{/url}}{{#location}} {{{city}}}, {{{region}}} |{{/location}}

### Social
| {{#profiles}} {{{network}}} |{{/profiles}}
| {{#profiles}} :-: |{{/profiles}}
| {{#profiles}} {{{url}}} |{{/profiles}}
{{/basics}}

## Work Experience

{{#work}}
### {{{name}}} 
**{{{position}}}**  
**{{{location}}}**  
**{{{startDate}}} - {{#endDate}}{{{endDate}}}{{/endDate}}{{^endDate}}Current{{/endDate}}**  
{{{summary}}}
{{#highlights}}
* {{{.}}}
{{/highlights}}

{{/work}}

## Education
{{#education}}
### {{{institution}}}
**{{{startDate}}} - {{{endDate}}}**  
**{{{studyType}}} in {{{area}}}**  
**GPA: {{{score}}}**  

{{/education}}

## Skills
{{#skills}}
### {{name}} - {{level}}
|{{#keywords}} |{{/keywords}}
|{{#keywords}} :-: |{{/keywords}}
|{{#keywords}} {{{.}}} |{{/keywords}}


{{/skills}}

## Certificates
{{#certificates}}
### {{name}}
**Date:** {{date}}
**Issuer:** {{issuer}}

{{/certificates}}

---

## Projects
{{#projects}}
### {{name}} - {{entity}}
**Description:** {{description}}
| |{{#roles}} |{{/roles}}{{#keywords}} |{{/keywords}}
| :- |{{#roles}} :-: |{{/roles}}{{#keywords}} :-: |{{/keywords}}
| **Roles:** |{{#roles}} {{{.}}} |{{/roles}}
| **Keywords:** |{{#keywords}} {{.}} |{{/keywords}}


**Highlights**
{{#highlights}}
* {{.}}
{{/highlights}}

{{/projects}}
